html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: auto auto;

}

section.calculator {
    background-color: black;
    height: 450px;
    border-radius: 5%;
    margin: 100px auto;
    width: 300px;
    padding: 20px;
}

.calculator-buttons  {
    margin-top: 3px;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-auto-rows: 40px;
    grid-template-columns: repeat(4, 1fr);
    
}

.equal {
    grid-column: 1/5;
    border-radius: 3px;
}

.calculator-screen {
    width: 100%;
    font-size: 4rem;
    text-align: right;
    background-color: white;
    
    height: 50px;
    border: none;
    
}

button {
    border-radius: 100%;
    font-weight: bold;
    font-size: 2rem;
    border: none;
}

.ac {
    background-color: red;
    color: white;
}

button:hover{
    background-color: rgb(63, 63, 63);
    color: white
}
.ac:hover {
    background-color: rgb(133, 0, 0);
}